<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Hacker News Reader</title>
</head>

<body>
  <h1>Hacker News Reader</h1>
  <h2>Welcome!</h2>
  <ul>
    <li><a href="login">Log in</a></li>
    <li><a href="signup">Sign up</a></li>
  </ul>
  <hr>
</body>

</html>