<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Hacker News Reader</title>
</head>

<body>
  <h1>Hacker News Reader</h1>
  <h2>Welcome <%- firstname %>!</h2>
  Top stories:<br>
  <%- stories %>
    <br>
    <hr>
    <a href="/">HOME</a>
</body>

</html>